<div class="page_nav_outer_wrapper">
  <div class="page_nav_inner_wrapper main_width">
    <div class="page_nav_title">
      Editing FAQ
    </div> 
  </div>
</div>


<div class="main_width content">
  <%= render 'form' %>
</div>

