
<div class="page_nav_outer_wrapper">
  <div class="page_nav_inner_wrapper main_width">
    <div class="page_nav_title startup_name_div">

    </div>
    <div class="page_nav_links_wrapper">
      <div class="page_nav_link page_nav_link_selected", id='profile'>Profile</div>
      <div class="page_nav_link", id='businessPlan'>Business Plan</div>
      <div class="page_nav_link" id='payroll'>Payroll</div>
    </div>  
  </div>
</div>

<div class="main_width">
<h1>Editing Startup</h1>

<%= render 'form' %>

</div>
