
body{
  margin:0;
  color:#595959;
  font-family: 'Jura', sans-serif;
  width:1000px; /* Main Width of site */
  margin:0 auto;
}

a{
  text-decoration:none;
  color:#595959;	
}

textarea, input[type=text], input[type=password] { 
  resize: none; 
  outline: none; 
  border: 1px solid #ccc; 
}

textarea:focus, input[type=text]:focus, input[type=password]:focus { 
  outline: none; 
}

a:hover{
  color:#121212;	
}

.bold{
  font-weight:bold;
}

.left{
  text-align:left;
}

.right{
  text-align:right;
}

/* DEFAULT BUTTON */
.default_button, .email_submit_wrapper button, .submitVideoButton{
  text-align:center;
  border:1px solid #CCC;
  color:#333;
  
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  -khtml-border-radius: 9px;
  border-radius: 9px;
  
  background: #d6d273; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #d6d273 0%, #d6d5c2 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#d6d273), color-stop(100%,#d6d5c2)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #d6d273 0%,#d6d5c2 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #d6d273 0%,#d6d5c2 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #d6d273 0%,#d6d5c2 100%); /* IE10+ */
  background: radial-gradient(center, ellipse cover, #d6d273 0%,#d6d5c2 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d273', endColorstr='#d6d5c2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.default_button:hover, .email_submit_wrapper button:hover, .submitVideoButton:hover{
  cursor:pointer;
  border:1px solid #888; 
}


.section_header{
  font-weight:bold;
  font-size:15px;
}

.page_header{
  font-weight:bold;
  font-size:32px;
  padding:5px 0;
}

.cool_textfield{  
  width:50%;
}

.cool_textarea{
  width:100%;
  height:100px;
}

.controls_wrapper{
  margin:5px 0;
}

/******************************  Main Layout ******************************/

.header_wrapper{
  border-bottom:2px solid #D9D8BA;
}

.top_nav_container{
  text-align:right;
}

.top_nav_wrapper{
  background-color:#D9D8BA;
  border:1px solid #C9C8A9;
  padding:3px;
  display:inline-block;
}

.top_nav_wrapper a{
  font-size:11px;
  padding:3px 6px;
  font-weight:bold;
}

.logo_wrapper{
  display:inline-block;
}

.main_nav_wrapper{
}

.main_nav_link_wrapper{
  display:inline-block;
  margin-bottom:10px;
  vertical-align:bottom;
}

.main_nav_link_wrapper a{
	font-size:38px;
	padding:20px 12px;
}

.notification_wrapper{
  font-size:12px;
  text-align:center;
  padding:5px 0px;
  font-weight:bold;
  color:red;
}

.main_wrapper{
  padding:10px 0px;
}

.footer_nav_wrapper{
  border-bottom:1px solid #D9D8BA;
  border-top:1px solid #D9D8BA;
  text-align:center;
  padding:3px;
  margin-top:30px;
}

.footer_nav_wrapper a{
  font-size:12px;
  padding:0 30px;
}

.footer{
  margin-top:5px;
  text-align:center;
  padding:5px;
  font-size:12px;
}

/******************************  END Main Layout ******************************/



/******************************  HOME ******************************/

.recent_startups_wrapper{
  text-align:center;
}

.each_startup_wrapper{
  display:inline-block;
  vertical-align:top;
}

.how_it_works_div{
  margin-top:10px;
}

/******************************  END HOME ******************************/


/******************************  STARTUPS ******************************/

.index_each_startup{
  padding:8px 5px; 
  border-bottom:1px solid #EBEAD5;
  border-top:1px solid #EBEAD5;
  margin:10px 0;
}

.index_each_startup_logo_div{
  display:inline-block;
}

.index_each_startup_logo_image{
  border:1px solid #C9C8A9;
  padding:3px;
}

.index_each_startup_logo_image:hover{
  border:1px solid #9C9B80;
}

.index_each_startup_text{
  display:inline-block;
  width:90%;
  vertical-align:top;
}

.index_each_startup_name{
  font-weight:bold;
}

.index_each_startup_desc{
}

  /****** STARTUPS NEW/EDIT ******/

.startup_wrapper, .transaction_wrapper{
  padding:10px;
  margin:10px 0;
  border:1px solid #CCC;

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

.startup_main_info_wrapper{
  padding:10px;
  border:1px solid #CCC;

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

.startup_main_info_table{
  width:100%;
}

  /****** END STARTUPS NEW/EDIT ******/

.startup_body_left{
  display:inline-block;
  width:70%;
  min-width:640px;
  padding:2px 15px 10px 10px;
  vertical-align:top;

  border-right:1px solid #DDDDDD;
}

.startup_body_right{
  display:inline-block;
  width:26%;
  min-width:250px;
  vertical-align:top;
  padding-top:2px;
  padding-left:5px;
}

 .startup_name_div{
  font-weight:bold;
  font-size:60px;
  padding:0 5px;
}

.donate_section{
  border-top:1px solid #DDDDDD;
  padding:10px 10px;
  margin:5px 0;
}

.small_header{
  font-size:12px;
}

.donateAmount, .donateButton_div{
  display:inline-block;
  width:48%;
  vertical-align:top;
}

.donateButton_div{
  padding:7px 0;
}

.other_amount{
  display:none;
}

.donateButton{
  padding:5px 20px;
  color:white;
  font-weight:bold;
  font-size:18px;
  text-shadow: 1px 0px 1px rgba(136, 136, 136, 1);
}

.donateButton:hover{
  color:white;
}

/******************************  END STARTUPS ******************************/


/******************************  FAQS ******************************/

.faq_question{}
.faq_question:hover{ color:#121212; cursor:pointer; }
.faq_answer{padding:6px 20px; display:none;}

/***************************   END FAQS   ***************************/


/****************     EMAILS     ****************/ 

.email_table{
  width:100%;
  text-align:left;
}

.email_table td{ 
}

.email_form_wrapper{
  border:1px solid #CCC;
  padding:15px 15px 7px 15px;
  font-size:14px;
  margin-top:20px;
  
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #eeeeee 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%,#eeeeee 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%,#eeeeee 100%); /* IE10+ */
  background: linear-gradient(top, #ffffff 0%,#eeeeee 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
  
}

.email_label_wrapper{
  margin:3px 3px 3px 7px;
  vertical-align:top;
}


.email_field{  
  width:50%;
}

.email_subject_field{
  width:100%; 
}

.email_message_field{
  width:100%;
  height:100px;
}

.email_submit_wrapper{
  text-align:right; 
}

.email_submit_wrapper button, .submitVideoButton{
  font-size:14px;
  padding:4px 25px;
  margin:2px 5px;
}

/****************     END EMAILS    ****************/ 


/****************     DESCRIPTIONS    ****************/

.description_wrapper{
  margin-bottom:20px;
}

.description_media{
  border:2px dashed #CCC;
  padding:10px;
  margin:10px 0;
  min-width:640px;
  min-height:360px;
  text-align:center;
}

.description_title{
  font-size:20px;
  font-weight:bold;
}

.description_media_table{
  margin:100px auto 0 auto;
}

.description_media_table td{
  padding:5px 15px;
}

.photoIconUpload:hover, .videoIconUpload:hover{
  cursor:pointer;
}

.description_details{
  padding:0 10px;
  margin:5px 0;
  min-width:640px;
}

.description_details textarea{
  width:100%;
  height:100px;
}

.brief_description_details, .donation_raised_wrapper{
  padding:0 10px 10px 10px;
  margin:5px 0;
  font-weight:bold;
}

.brief_description_details textarea{
  width:100%;
  height:200px;
}

.video_div{
  padding:20px;
}

.submitVideoButton{
  margin:8px auto;
  width:100px;
  text-align:center;  
}

.percentage_display_wrapper, .total_raised{
  font-size:12px;
  font-weight:normal;
}

.percentage_display{
  font-size:38px;
}

.donation_percentage_wrapper{
  margin:3px 0 0 0;
}

.donation_percentage_chart_outer, .donation_percentage_chart_inner{
  border:1px solid #ccc;

  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}

.donation_percentage_chart_inner{
  background-color:#D9D8BA;
}

/****************     END DESCRIPTIONS    ****************/ 


/******************************  CONTRIBUTORS  ******************************/

.all_contributors_wrapper{
  text-align:center;
}

.each_contributors_wrapper{
  display:inline-block;
  vertical-align:top;
  width:160px;
  margin:5px 5px;
  word-wrap: break-word;
}

.image_border{
  vertical-align:middle; 
  padding:5px; 
  border:1px solid #ccc;
}


/******************************  END CONTRIBUTORS  ******************************/


.transaction_info_wrapper{
  padding:8px 8px 5px 8px;
  background-color:#ddd;


  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

.transaction_startup_logo, .transaction_startup_info, .transaction_startup_amount{
  display:inline-block;
  vertical-align:top;
  padding:0 5px;
}

.transaction_startup_logo{
  width:65px;
}

.transaction_startup_info{
  width:630px;
}

.transaction_startup_amount{
  width:220px;
  text-align:right;
}

.transaction_total_wrapper{
  margin-top:10px;
  padding:15px;
  text-align:right;
  background-color:#D9D8BA;
  font-size:25px;


  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

.transaction_submit_button_div{
  text-align:right;
  margin-top:10px;
}

.transaction_table{
  width:100%;
  margin:10px 0;
}

.transaction_table tr.header{
  font-weight:bold;
  font-size:20px;
}

.transaction_table tr td{
  padding:3px 5px;
  border-bottom:1px dashed #D9D8BA;
}


/******************************  TRANSACTIONS  ******************************/

/******************************  END TRANSACTIONS  ******************************/




/******************************  USERS  ******************************/

.user_header_nav{
  border-bottom:1px solid #D9D8BA;
}

.user_header_nav div{
  display:inline-block;
  border:1px solid #ccc;
  border-bottom:none;
  padding:5px 10px;


  -moz-border-radius-topright: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -khtml-border-top-left-radius: 5px;
  -khtml-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.user_header_nav div.selected, .user_header_nav_div:hover{
  background-color:#D9D8BA;
  cursor:pointer;
}

/******************************  END USERS  ******************************/




