

<div class="page_wrapper">
  <div class="recent_startups_wrapper">
  	<div class="section_header">
  		RECENT STARTUPS
  	</div>
    <% @startups.each do |startup| %>
      <div class="each_startup_wrapper">
        <%= link_to image_tag(startup.startup_logo.url(:icon), :class => 'index_each_startup_logo_image'), startup %>
      </div>
    <% end %>
  </div>	
  <div class="how_it_works_div">
  	<div class="section_header">
  		<% if !@section.page_title.nil? %>
        <%= @section.page_title %>
      <% else %>
        HOW IT WORKS
      <% end %>
  	</div>
  	<div>
  		<% if !@section.page_title.nil? %>
        <%= my_simple_format(@section.content) %>
      <% end %>
  	</div>
  </div>

</div>

