
<div class="page_header">
  <% if !params[:user_type].nil? %>
    <%= params[:user_type].pluralize %>
  <% else %>
    Users
  <% end %>
</div>

<% if is_admin? %>
  <div class="new_wrapper">
    <%= link_to 'New User', new_user_path %>
  </div>
<% end %>

<table>
  <tr>
    <th>Email</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= link_to user.email, user %></td>
  </tr>
<% end %>
</table>

