
<div class="page_nav_outer_wrapper">
  <div class="page_nav_inner_wrapper main_width">
    <div class="page_nav_title">
      <% if !params[:user_type].nil? %>
        <%= params[:user_type].pluralize %>
      <% else %>
        Users
      <% end %>
    </div>
  </div>
</div>


<div class="page_content_wrapper main_width">
<% if is_admin? %>
  <div class="controls_wrapper">
    <%= link_to (!params[:user_type].nil? ? 'New ' + params[:user_type] : 'New User'), new_user_path %>
  </div>
<% end %>

<div class="all_contributors_wrapper">
 
  <% @users.each do |user| %>
    <div class="each_contributors_wrapper">
      <%= link_to image_tag(user.photo.url(:small), :class => 'image_border'), user  %><br/>
      <%= link_to user.email, user %>
    </div>
  <% end %>

</div>
</div>
