
<% if !params[:user_type].nil? %>
  <h1><%= params[:user_type].pluralize %></h1>
<% else %>
  <h1>Users</h1>
<% end %>

<table>
  <tr>
    <th>Email</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= link_to user.email, user %></td>
  </tr>
<% end %>
</table>

