
<div class="page_nav_outer_wrapper">
  <div class="page_nav_inner_wrapper main_width">
    <div class="page_nav_title">
      <%= @user.email %>
    </div>
  </div>
</div>

<div class="page_content_wrapper main_width content" style="text-align:center;">
  <%= image_tag(@user.photo.url(:small), :class => 'image_border')  %>
</div>
