<html>

<body style="padding: 0 0 10px 0;">


<div class="header" style="padding:5px;background-color:black;">
  <div class="small_logo_wrapper" >
    <%= link_to 'AMI', @full_url_path, :style => "color:#FFFFFF;text-decoration: none;" %>
  </div>
</div>

<div class="not_header_wrapper" style="background-image:url('http://www.skrittle.com/images/small_240.jpg');background-repeat: repeat-x;padding-top:10px;">
  <div id="position" style="width: 70%;margin:0 auto;text-align: center;background-color:#F0F0F0;padding:5px;border:1px solid gray;-webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px;">
    <div class="logo_wrapper">
      <div class="image_or_name" style="font: 80px 'Times New Roman';float:center;margin:0;padding:0;">
        <%= link_to 'AMI', @full_url_path, :style => "color: #BA1820;text-shadow: 2px 1px 1px #666;text-decoration: none;" %> 
      </div>
    </div>

    <div style="text-align:left; margin-top:7px; padding:5px;">
      Thanks for signing up for <%= 'AMI' %>! We are EXCITED to have you. 
      <br/>
      <br/>
      The Awesome <%= 'AMI' %> Team. 
    </div>
    
  </div>  
</div>



</body>
</html>





