
<div class="page_nav_outer_wrapper">
  <div class="page_nav_inner_wrapper main_width">
    <div class="page_nav_title">
      Editing <%= @section.page_title %>
    </div>
  </div>
</div>


<div class="page_content_wrapper main_width content">
  <%= render 'form' %>
</div>
