
<div class="page_nav_outer_wrapper">
  <div class="page_nav_inner_wrapper main_width">
    <div class="page_nav_title">
      Transaction
    </div>
  </div>
</div>

<div class="page_content_wrapper main_width">
  <%= render 'form' %>
</div>

